# Node / NPM (si usas Node)
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# MacOS
.DS_Store

# Visual Studio Code
.vscode/
.history/

# Archivos compilados de CSS
assets/styles/*.css
assets/styles/*.css.map

# Archivos temporales / logs
*.log
*.tmp
*.swp
*.swo

# Otros archivos generados que no quieres subir
dist/
build/